@use "./1-variables" as vars;

@forward "./1-variables";
@forward "./2-generics";
@forward "./3-components";

body {
  font-family: vars.$typeface-font-brand, sans-serif;
  font-weight: vars.$typeface-weight-regular;
  font-size: vars.$global-size-400;
}
