@use "global" as global;

$alias-background-gray: global.$global-neutral-50;
$alias-background-white: global.$global-neutral-white;

$alias-surface-brand: global.$global-brand-500;
$alias-surface-white: global.$global-neutral-white;
$alias-surface-gray: global.$global-neutral-50;
$alias-surface-disable: global.$global-neutral-200;
$alias-surface-bottomsheet: global.$global-neutral-white;
$alias-surface-popup: global.$global-neutral-white;
$alias-surface-warning-highlight: global.$global-yellow-500;
$alias-surface-warning: global.$global-yellow-50;
$alias-surface-error-highlight: global.$global-red-500;
$alias-surface-error: global.$global-red-50;
$alias-surface-success-highlight: global.$global-green-500;
$alias-surface-success: global.$global-green-50;
$alias-surface-information-highlight: global.$global-blue-500;
$alias-surface-information: global.$global-blue-50;
$alias-surface-pending-highlight: global.$global-neutral-300;
$alias-surface-pending: global.$global-neutral-100;
$alias-surface-selection-item-default: global.$global-neutral-white;
$alias-surface-selection-item-selected: global.$global-brand-50;
$alias-surface-selection-item-disable: global.$global-neutral-200;
$alias-surface-selection-item-hover: global.$global-brand-50;

$alias-text-primary: global.$global-neutral-800;
$alias-text-secondary: global.$global-neutral-500;
$alias-text-tertiary: global.$global-neutral-200;
$alias-text-placeholder: global.$global-neutral-200;
$alias-text-disable: global.$global-neutral-200;
$alias-text-inverse: global.$global-neutral-white;
$alias-text-link: global.$global-brand-500;
$alias-text-link-hover: global.$global-brand-300;
$alias-text-link-pressed: global.$global-brand-700;
$alias-text-brand: global.$global-brand-500;
$alias-text-brand-hover: global.$global-brand-300;
$alias-text-brand-pressed: global.$global-brand-700;
$alias-text-information: global.$global-blue-500;
$alias-text-success: global.$global-green-500;
$alias-text-error: global.$global-red-500;
$alias-text-pending: global.$global-neutral-500;
$alias-text-warning: global.$global-yellow-500;

$alias-icon-default: global.$global-neutral-500;
$alias-icon-disable: global.$global-neutral-300;
$alias-icon-inverse: global.$global-neutral-white;
$alias-icon-brand: global.$global-brand-500;
$alias-icon-pending: global.$global-neutral-500;
$alias-icon-information: global.$global-blue-500;
$alias-icon-error: global.$global-red-500;
$alias-icon-success: global.$global-green-500;
$alias-icon-warning: global.$global-yellow-500;

$alias-boder-warning: global.$global-yellow-500;
$alias-boder-information: global.$global-blue-500;
$alias-boder-error: global.$global-red-500;
$alias-boder-pending: global.$global-neutral-100;
$alias-boder-focus: global.$global-brand-500;
$alias-boder-success: global.$global-green-500;
$alias-boder-brand: global.$global-brand-500;
$alias-boder-hover: global.$global-brand-500;
$alias-boder-default: global.$global-neutral-100;
$alias-boder-disable: global.$global-neutral-200;
$alias-boder-inverse: global.$global-neutral-white;

$alias-radius-none: global.$global-size-0;
$alias-radius-1: global.$global-size-100;
$alias-radius-2: global.$global-size-200;
$alias-radius-3: global.$global-size-300;
$alias-radius-4: global.$global-size-400;
$alias-radius-5: global.$global-size-500;
$alias-radius-6: global.$global-size-600;
$alias-radius-7: global.$global-size-800;

$alias-stroke-thin: global.$global-size-10;
$alias-stroke-default: global.$global-size-25;
$alias-stroke-thick: global.$global-size-50;

$alias-spacing-none: global.$global-size-0;
$alias-spacing-5xsmall: global.$global-size-50;
$alias-spacing-4xsmall: global.$global-size-100;
$alias-spacing-3xsmall: global.$global-size-150;
$alias-spacing-2xsmall: global.$global-size-200;
$alias-spacing-xsmall: global.$global-size-300;
$alias-spacing-small: global.$global-size-400;
$alias-spacing-medium: global.$global-size-500;
$alias-spacing-large: global.$global-size-600;
$alias-spacing-xlarge: global.$global-size-800;
$alias-spacing-2xlarge: global.$global-size-1000;
$alias-spacing-3xlarge: global.$global-size-1200;
$alias-spacing-4xlarge: global.$global-size-1600;

$alias-icon-small: global.$global-size-500;
$alias-icon-medium: global.$global-size-600;
$alias-icon-large: global.$global-size-800;
$alias-icon-xsmall: global.$global-size-400;
