@use 'global' as global;
@use 'alias' as alias;

$button-color-surface-primary-default: linear-gradient(324.32deg, #e45f35 20.9%, #ffa95a 110.29%);
$button-color-surface-primary-hover: global.$global-brand-500;
$button-color-surface-primary-pressed: global.$global-brand-700;
$button-color-surface-primary-disable: alias.$alias-surface-disable;
$button-color-surface-secondary-default: alias.$alias-surface-white;
$button-color-surface-secondary-hover: alias.$alias-surface-white;
$button-color-surface-secondary-pressed: alias.$alias-surface-white;
$button-color-surface-secondary-disable: alias.$alias-surface-white;

$button-color-text-primary-default: alias.$alias-text-inverse;
$button-color-text-primary-hover: alias.$alias-text-inverse;
$button-color-text-primary-pressed: alias.$alias-text-inverse;
$button-color-text-primary-disable: alias.$alias-text-inverse;
$button-color-text-secondary-default: alias.$alias-text-brand;
$button-color-text-secondary-hover: alias.$alias-text-brand-hover;
$button-color-text-secondary-pressed: alias.$alias-text-brand-pressed;
$button-color-text-secondary-disable: alias.$alias-text-disable;
$button-color-text-teriary-default: alias.$alias-text-brand;
$button-color-text-teriary-hover: alias.$alias-text-brand;
$button-color-text-teriary-pressed: alias.$alias-text-brand-pressed;
$button-color-text-teriary-disable: alias.$alias-text-disable;
$button-color-text-neutral-default: alias.$alias-text-primary;
$button-color-text-neutral-hover: alias.$alias-text-brand-hover;
$button-color-text-neutral-pressed: alias.$alias-text-brand-pressed;
$button-color-text-neutral-disable: alias.$alias-text-disable;

$button-color-boder-secondary-default: alias.$alias-boder-brand;
$button-color-boder-secondary-hover: global.$global-brand-300;
$button-color-boder-secondary-pressed: global.$global-brand-700;
$button-color-boder-secondary-disable: alias.$alias-boder-disable;

$button-color-icon-primary-default: alias.$alias-icon-inverse;
$button-color-icon-primary-hover: alias.$alias-icon-inverse;
$button-color-icon-primary-pressed: alias.$alias-icon-inverse;
$button-color-icon-primary-disable: alias.$alias-icon-inverse;
$button-color-icon-secondary-default: alias.$alias-icon-brand;
$button-color-icon-secondary-hover: global.$global-brand-300;
$button-color-icon-secondary-pressed: global.$global-brand-700;
$button-color-icon-secondary-disable: alias.$alias-icon-disable;
$button-color-icon-teriary-default: global.$global-brand-500;
$button-color-icon-teriary-hover: global.$global-brand-300;
$button-color-icon-teriary-pressed: global.$global-brand-700;
$button-color-icon-teriary-disable: alias.$alias-icon-disable;
$button-color-icon-neutral-default: global.$global-neutral-800;
$button-color-icon-neutral-hover: global.$global-brand-500;
$button-color-icon-neutral-pressed: global.$global-brand-700;
$button-color-icon-neutral-disable: global.$global-neutral-200;

$button-size-icon-base: alias.$alias-icon-medium;
$button-size-icon-small: alias.$alias-icon-small;

$button-size-boder-radius: alias.$alias-radius-2;
$button-size-boder-stroke: alias.$alias-stroke-default;

$button-size-small-width-min: global.$global-size-2400;
$button-size-small-height-max: global.$global-size-800;
$button-size-small-spacing-vertical: alias.$alias-spacing-3xsmall;
$button-size-small-spacing-horizontal: alias.$alias-spacing-xsmall;
$button-size-small-spacing-gap: alias.$alias-spacing-2xsmall;
$button-size-small-spacing-icon: alias.$alias-spacing-3xsmall;

$button-size-base-spacing-vertical: alias.$alias-spacing-2xsmall;
$button-size-base-spacing-horizontal: alias.$alias-spacing-xsmall;
$button-size-base-spacing-gap: alias.$alias-spacing-2xsmall;
$button-size-base-spacing-icon: alias.$alias-spacing-2xsmall;
$button-size-base-height-max: global.$global-size-1000;
$button-size-base-width-min: global.$global-size-2400;


$field-color-surface-default: alias.$alias-surface-white;
$field-color-surface-view-only: global.$global-neutral-100;
$field-color-surface-disable: global.$global-neutral-100;

$field-color-icon-default: alias.$alias-icon-default;
$field-color-icon-disable: alias.$alias-icon-disable;
$field-color-icon-clear: global.$global-neutral-300;

$field-color-boder-default: alias.$alias-boder-default;
$field-color-boder-hover: alias.$alias-boder-hover;
$field-color-boder-typing: alias.$alias-boder-focus;
$field-color-boder-error: alias.$alias-boder-error;

$field-color-boder-cursor: global.$global-neutral-800;

$field-color-text-currency: alias.$alias-text-secondary;
$field-color-text-filled: alias.$alias-text-primary;
$field-color-text-placeholder: alias.$alias-text-placeholder;
$field-color-text-disable: alias.$alias-text-disable;

$field-size-min-height: alias.$alias-spacing-2xlarge;
$field-size-base-height: alias.$alias-spacing-3xlarge;
$field-size-large-height: alias.$alias-spacing-4xlarge;

$field-size-spacing-vertical: alias.$alias-spacing-2xsmall;
$field-size-spacing-horizontal: alias.$alias-spacing-xsmall;
$field-size-spacing-gap: alias.$alias-spacing-xsmall;


$field-size-boder-radius: alias.$alias-radius-2;
$field-size-boder-stroke: alias.$alias-stroke-default;

$field-size-icon-base: alias.$alias-icon-medium;
$field-size-icon-max: alias.$alias-icon-large;

$label-caption-color-text-main: alias.$alias-text-primary;
$label-caption-color-text-sub: alias.$alias-text-secondary;
$label-caption-color-text-count: alias.$alias-text-secondary;
$label-caption-color-text-error: alias.$alias-text-error;
$label-caption-color-icon-default: alias.$alias-icon-default;
$label-caption-color-icon-error: alias.$alias-icon-error;
$label-caption-color-icon-success: alias.$alias-icon-success;

$label-caption-size-icon: alias.$alias-icon-small;
$label-caption-size-gap: alias.$alias-spacing-2xsmall;

$tab-color-surface-default: alias.$alias-surface-white;
$tab-color-surface-hover: alias.$alias-surface-white;
$tab-color-surface-active: alias.$alias-surface-selection-item-hover;

$tab-color-text-default: alias.$alias-text-primary;
$tab-color-text-hover: alias.$alias-text-brand;
$tab-color-text-active: alias.$alias-text-brand;
$tab-color-text-disable: alias.$alias-text-disable;

$tab-color-boder-default-app: alias.$alias-boder-default;
$tab-color-boder-default-web: global.$global-neutral-300;
$tab-color-boder-hover: alias.$alias-boder-default;
$tab-color-boder-active: alias.$alias-boder-focus;
$tab-color-boder-disable: alias.$alias-boder-disable;

$tab-color-icon-default: alias.$alias-icon-default;
$tab-color-icon-hover: alias.$alias-icon-brand;
$tab-color-icon-active: alias.$alias-icon-brand;
$tab-color-icon-disable: alias.$alias-icon-disable;

$tab-size-small-spacing-vertical: alias.$alias-spacing-4xsmall;
$tab-size-small-spacing-horizontal: alias.$alias-spacing-xsmall;
$tab-size-small-icon-base: alias.$alias-icon-small;
$tab-size-small-boder-radius: alias.$alias-radius-7;
$tab-size-small-boder-stroke: alias.$alias-stroke-default;


$tab-size-base-icon-base: alias.$alias-icon-medium;
$tab-size-base-spacing-vertical: alias.$alias-spacing-3xsmall;
$tab-size-base-spacing-horizontal: alias.$alias-spacing-small;
$tab-size-base-boder-radius: alias.$alias-radius-7;
$tab-size-base-boder-stroke: alias.$alias-stroke-default;

$header-color-surface-lever-1: alias.$alias-surface-white;

$header-color-text-default: alias.$alias-text-primary;

$header-color-icon-action: alias.$alias-icon-brand;
$header-color-icon-default: global.$global-neutral-800;

$header-size-icon-base: alias.$alias-icon-medium;

$header-size-spacing-vertical: alias.$alias-spacing-small;
$header-size-spacing-horizontal: alias.$alias-spacing-small;


$carousel-color-dot-default: global.$global-neutral-200;
$carousel-color-dot-select: global.$global-brand-500;

$carousel-color-divider-default: alias.$alias-boder-default;

$carousel-size-spacing-vertical: alias.$alias-spacing-small;
$carousel-size-spacing-horizontal: alias.$alias-spacing-small;
$carousel-size-spacing-gap: alias.$alias-spacing-2xsmall;


$carousel-size-divider-stroke: alias.$alias-stroke-default;

$bottomsheet-color-text-title: alias.$alias-text-primary;

$bottomsheet-color-surface-default: alias.$alias-surface-white;

$bottomsheet-color-icon-default: global.$global-neutral-800;

$bottomsheet-color-boder-default: alias.$alias-boder-default;
$bottomsheet-color-boder-drag-handle: global.$global-neutral-500;

$bottomsheet-size-icon-base: alias.$alias-icon-medium;

$bottomsheet-size-boder-radius: alias.$alias-radius-4;
$bottomsheet-size-boder-stroke: alias.$alias-stroke-default;

$card-color-surface-default: alias.$alias-surface-white;

$card-color-text-title: alias.$alias-text-primary;
$card-color-text-subtitle: alias.$alias-text-secondary;
$card-color-text-content: alias.$alias-text-primary;

$card-color-icon-default: global.$global-neutral-800;
$card-color-icon-direction: alias.$alias-icon-brand;

$card-color-boder-divider: alias.$alias-boder-default;

$card-size-icon-base: alias.$alias-icon-medium;

$card-size-boder-radius: alias.$alias-radius-3;
$card-size-boder-stroke: alias.$alias-stroke-default;

$card-size-spacing-bot: alias.$alias-spacing-small;
$card-size-spacing-top: alias.$alias-spacing-small;
$card-size-spacing-right: alias.$alias-spacing-small;
$card-size-spacing-left: alias.$alias-spacing-small;

$dataview-color-text-main: alias.$alias-text-primary;
$dataview-color-text-sub: alias.$alias-text-secondary;
$dataview-color-text-currency: alias.$alias-text-secondary;
$dataview-color-text-time: alias.$alias-text-inverse;
$dataview-color-text-percent: alias.$alias-text-secondary;

$dataview-color-icon-default: alias.$alias-icon-default;

$dataview-size-spacing-top: alias.$alias-spacing-4xsmall;
$dataview-size-spacing-bot: alias.$alias-spacing-4xsmall;
$dataview-size-spacing-gap: alias.$alias-spacing-large;

$inform-color-surface-info: alias.$alias-surface-information;
$inform-color-surface-success: alias.$alias-surface-success;
$inform-color-surface-error: alias.$alias-surface-error;
$inform-color-surface-warning: alias.$alias-surface-warning;

$inform-color-text-message: alias.$alias-text-primary;
$inform-color-text-warning: alias.$alias-text-warning;
$inform-color-text-error: alias.$alias-text-error;
$inform-color-text-success: alias.$alias-text-success;
$inform-color-text-info: alias.$alias-text-information;

$inform-color-icon-warning: alias.$alias-icon-warning;
$inform-color-icon-error: alias.$alias-icon-error;
$inform-color-icon-success: alias.$alias-icon-success;
$inform-color-icon-info: alias.$alias-icon-information;
$inform-color-icon-close: alias.$alias-icon-default;

$inform-color-boder-warning: alias.$alias-boder-warning;
$inform-color-boder-error: alias.$alias-boder-error;
$inform-color-boder-success: alias.$alias-boder-success;
$inform-color-boder-info: alias.$alias-boder-information;

$inform-size-icon-base: alias.$alias-icon-medium;

$inform-size-boder-radius: alias.$alias-radius-2;
$inform-size-boder-stroke: alias.$alias-stroke-default;

$inform-size-spacing-right: alias.$alias-spacing-xsmall;
$inform-size-spacing-left: alias.$alias-spacing-xsmall;
$inform-size-spacing-bot: alias.$alias-spacing-2xsmall;
$inform-size-spacing-top: alias.$alias-spacing-2xsmall;
$inform-size-spacing-gap: alias.$alias-spacing-4xsmall;

$toast-color-surface-default: global.$global-neutral-800;
$toast-color-surface-success: alias.$alias-surface-success-highlight;
$toast-color-surface-error: alias.$alias-surface-error-highlight;

$toast-color-text-default: alias.$alias-text-inverse;

$toast-color-icon-default: alias.$alias-icon-inverse;

$toast-size-spacing-vertical: alias.$alias-spacing-xsmall;
$toast-size-spacing-horizontal: alias.$alias-spacing-xsmall;
$toast-size-spacing-gap: alias.$alias-spacing-2xsmall;


$toast-size-boder-radius: alias.$alias-radius-2;

$popup-color-surface-default: alias.$alias-surface-white;
$popup-color-text-title: alias.$alias-text-primary;
$popup-color-text-content: alias.$alias-text-primary;
$popup-color-text-error-code: alias.$alias-text-secondary;
$popup-color-icon-default: alias.$alias-icon-warning;
$popup-color-icon-stroke: global.$global-yellow-50;
$popup-color-icon-background: global.$global-yellow-100;

$popup-size-boder-radius: alias.$alias-radius-3;
$popup-size-spacing-right: alias.$alias-spacing-small;
$popup-size-spacing-left: alias.$alias-spacing-small;
$popup-size-spacing-bot: alias.$alias-spacing-3xsmall;
$popup-size-spacing-top: alias.$alias-spacing-medium;
$popup-size-spacing-gap: alias.$alias-spacing-small;
$popup-size-icon-base: alias.$alias-icon-medium;
$popup-size-icon-radius: global.$global-size-max;
$popup-size-icon-stroke: global.$global-size-200;

$tooltip-color-surface: global.$global-neutral-800;
$tooltip-color-text: alias.$alias-text-inverse;

$tooltip-size-boder-radius: alias.$alias-radius-3;
$tooltip-size-spacing-vertical: alias.$alias-spacing-xsmall;
$tooltip-size-spacing-horizontal: alias.$alias-spacing-xsmall;


$checkbox-color-surface-default: alias.$alias-surface-white;
$checkbox-color-text-main: alias.$alias-text-primary;
$checkbox-color-icon-check: alias.$alias-icon-inverse;
$checkbox-color-icon-disable: alias.$alias-icon-disable;
$checkbox-color-boder-default: alias.$alias-boder-default;
$checkbox-color-surface-select: alias.$alias-surface-brand;
$checkbox-color-surface-disable: global.$global-neutral-100;
$checkbox-color-surface-disable-select: alias.$alias-surface-disable;
$checkbox-color-surface-hover: global.$global-brand-300;
$checkbox-color-icon-hover: global.$global-brand-300;
$checkbox-color-boder-hover: global.$global-brand-300;
$checkbox-color-text-sub: alias.$alias-text-secondary;
$checkbox-color-text-error: alias.$alias-text-error;
$checkbox-color-icon-Intermidate: alias.$alias-icon-brand;
$checkbox-color-boder-select: alias.$alias-boder-brand;
$checkbox-color-boder-Intermidate: alias.$alias-boder-default;
$checkbox-color-boder-disable: alias.$alias-boder-disable;

$checkbox-size-box-base: alias.$alias-icon-medium;
$checkbox-size-boder-radius: alias.$alias-radius-1;
$checkbox-size-boder-stroke: alias.$alias-stroke-default;
$checkbox-size-spacing-vertical: alias.$alias-spacing-4xsmall;
$checkbox-size-spacing-horizontal: alias.$alias-spacing-2xsmall;

$radio-color-surface-default: alias.$alias-surface-white;
$radio-color-surface-select: alias.$alias-surface-white;
$radio-color-surface-disable: global.$global-neutral-100;
$radio-color-boder-default: alias.$alias-boder-default;
$radio-color-boder-disable: alias.$alias-boder-disable;
$radio-color-boder-select: alias.$alias-boder-brand;
$radio-color-text-main: alias.$alias-text-primary;
$radio-color-text-sub: alias.$alias-text-secondary;
$radio-color-text-error: alias.$alias-text-error;
$radio-color-icon-select: alias.$alias-icon-brand;
$radio-color-icon-disable: alias.$alias-icon-disable;
$radio-color-icon-hover: global.$global-brand-300;
$radio-color-boder-hover: global.$global-brand-300;

$radio-size-box-base: alias.$alias-icon-medium;
$radio-size-spacing-horizontal: alias.$alias-spacing-2xsmall;
$radio-size-spacing-vertical: alias.$alias-spacing-4xsmall;
$radio-size-boder-radius: alias.$alias-radius-5;
$radio-size-boder-stroke: alias.$alias-stroke-default;

$toggle-color-surface-default: global.$global-neutral-300;
$toggle-color-surface-select: alias.$alias-surface-brand;
$toggle-color-surface-disable: alias.$alias-surface-disable;
$toggle-color-surface-disable-select: global.$global-brand-300;
$toggle-color-knob-default: alias.$alias-icon-inverse;
$toggle-color-knob-disable: alias.$alias-icon-disable;

$toggle-size-radius: alias.$alias-radius-5;
$toggle-size-width: alias.$alias-spacing-2xlarge;
$toggle-size-height: alias.$alias-spacing-large;
// Badge
$badge-color-surface: alias.$alias-surface-brand;
$badge-color-text: alias.$alias-text-inverse;
$badge-size-radius: global.$global-size-max;
$badge-size-spacing-horizontal: global.$global-size-50;
$badge-size-spacing-vertical: global.$global-size-0;

// Navigation
$nav-color-surface-default: alias.$alias-surface-white;
$nav-color-surface-hover: global.$global-brand-50;
$nav-color-surface-select: global.$global-brand-50;
$nav-color-icon-default: alias.$alias-icon-default;
$nav-color-icon-hover: alias.$alias-icon-brand;
$nav-color-icon-select: alias.$alias-icon-brand;
$nav-color-text-default: alias.$alias-text-primary;
$nav-color-text-hover: alias.$alias-text-brand;
$nav-color-text-select: alias.$alias-text-brand;
$nav-color-boder-default: alias.$alias-boder-default;
$nav-color-boder-select: alias.$alias-boder-focus;

$nav-size-icon-base: alias.$alias-icon-medium;
$nav-size-boder-radius: alias.$alias-radius-2;
$nav-size-boder-stroke: alias.$alias-stroke-default;
$nav-size-spacing-web-horizontal: alias.$alias-spacing-2xsmall;
$nav-size-spacing-web-vertical: alias.$alias-spacing-xsmall;
$nav-size-spacing-app-horizontal: alias.$alias-spacing-small;
$nav-size-spacing-app-vertical: alias.$alias-spacing-small;
$nav-size-spacing-app-gap: alias.$alias-spacing-2xsmall;

// Side Panel
$side-panel-color-surface-default: alias.$alias-surface-white;
$side-panel-color-text-main: alias.$alias-text-primary;
$side-panel-color-text-sub: alias.$alias-text-secondary;
$side-panel-color-icon-default: alias.$alias-icon-default;

// Side Panel Item
$side-panel-item-color-surface-default: alias.$alias-surface-white;
$side-panel-item-color-surface-hover: alias.$alias-surface-white;
$side-panel-item-color-surface-active: alias.$alias-surface-white;
$side-panel-item-color-surface-disable: global.$global-neutral-100;
$side-panel-item-color-icon-default: alias.$alias-icon-default;
$side-panel-item-color-border-default: global.$global-neutral-200;
$side-panel-item-color-border-hover: alias.$alias-boder-hover;
$side-panel-item-color-border-active: alias.$alias-boder-brand;
$side-panel-item-color-border-disable: alias.$alias-boder-disable;
$side-panel-item-color-text-main: alias.$alias-text-primary;
$side-panel-item-color-text-sub: alias.$alias-text-secondary;

$side-panel-size-icon-default: alias.$alias-icon-large;
$side-panel-size-spacing-gap-8: alias.$alias-spacing-2xsmall;
$side-panel-size-spacing-gap-12: alias.$alias-spacing-xsmall;
$side-panel-size-spacing-horizontal: alias.$alias-spacing-large;
$side-panel-size-spacing-vertical-16: alias.$alias-spacing-small;
$side-panel-size-spacing-gap-16: alias.$alias-spacing-small;
$side-panel-size-spacing-vertical-12: alias.$alias-spacing-xsmall;

$side-panel-item-size-icon-default: alias.$alias-icon-large;
$side-panel-item-size-spacing-horizontal: alias.$alias-spacing-small;
$side-panel-item-size-spacing-vertical: alias.$alias-spacing-xsmall;
$side-panel-item-size-spacing-gap-12: alias.$alias-spacing-xsmall;
$side-panel-item-size-spacing-gap-4: alias.$alias-spacing-4xsmall;

// Chip
$chip-color-surface-default: alias.$alias-surface-white;
$chip-color-surface-hover: alias.$alias-surface-white;
$chip-color-surface-active: alias.$alias-surface-selection-item-hover;
$chip-color-text-default: alias.$alias-text-primary;
$chip-color-text-hover: alias.$alias-text-brand;
$chip-color-text-active: alias.$alias-text-brand;
$chip-color-boder-default: alias.$alias-boder-default;
$chip-color-boder-hover: alias.$alias-boder-default;
$chip-color-boder-active: alias.$alias-boder-focus;
$chip-color-icon-default: alias.$alias-icon-default;
$chip-color-icon-hover: alias.$alias-icon-brand;
$chip-color-icon-active: alias.$alias-icon-brand;

// Chip Sizes - Small
$chip-size-small-icon-base: alias.$alias-icon-xsmall;
$chip-size-small-boder-radius: alias.$alias-radius-7;
$chip-size-small-boder-stroke: alias.$alias-stroke-default;
$chip-size-small-spacing-horizontal: alias.$alias-spacing-4xsmall;
$chip-size-small-spacing-vertical: alias.$alias-spacing-4xsmall;
$chip-size-small-spacing-gap: alias.$alias-spacing-4xsmall;

// Chip Sizes - Medium
$chip-size-medium-icon-base: alias.$alias-icon-small;
$chip-size-medium-boder-radius: alias.$alias-radius-7;
$chip-size-medium-boder-stroke: alias.$alias-stroke-default;
$chip-size-medium-spacing-horizontal: alias.$alias-spacing-2xsmall;
$chip-size-medium-spacing-vertical: alias.$alias-spacing-4xsmall;
$chip-size-medium-spacing-gap: alias.$alias-spacing-4xsmall;

// Chip Sizes - Large
$chip-size-large-icon-base: alias.$alias-icon-medium;
$chip-size-large-boder-radius: alias.$alias-radius-7;
$chip-size-large-boder-stroke: alias.$alias-stroke-default;
$chip-size-large-spacing-horizontal: alias.$alias-spacing-2xsmall;
$chip-size-large-spacing-vertical: alias.$alias-spacing-4xsmall;
$chip-size-large-spacing-gap: alias.$alias-spacing-4xsmall;

// Tag
$tag-color-surface-blue: global.$global-blue-50;
$tag-color-surface-green: global.$global-green-50;
$tag-color-surface-red: global.$global-red-50;
$tag-color-surface-yellow: global.$global-yellow-50;
$tag-color-surface-black: global.$global-neutral-100;
$tag-color-text-blue: global.$global-blue-500;
$tag-color-text-green: global.$global-green-500;
$tag-color-text-red: global.$global-red-500;
$tag-color-text-yellow: global.$global-yellow-500;
$tag-color-text-black: global.$global-neutral-800;

$tag-size-spacing-horizontal: alias.$alias-spacing-2xsmall;
$tag-size-boder-radius: alias.$alias-radius-3;
$tag-size-spacing-vertical: alias.$alias-spacing-5xsmall;

// Scroll
$scroll-color-thumb: global.$global-neutral-300;
$scroll-color-track: global.$global-neutral-100;

// Pagination
$pagination-color-text-main: alias.$alias-text-primary;
$pagination-color-text-sub: alias.$alias-text-secondary;
$pagination-color-text-select: alias.$alias-text-brand;
$pagination-color-icon-main: alias.$alias-text-primary;
$pagination-color-icon-sub: alias.$alias-text-secondary;
$pagination-color-boder-divider: alias.$alias-boder-default;
$pagination-color-boder-select: alias.$alias-boder-focus;

$pagination-size-boder-radius: alias.$alias-radius-2;
$pagination-size-boder-stroke: alias.$alias-stroke-default;

// App Stepper
$app-stepper-color-text-main: alias.$alias-text-primary;
$app-stepper-color-text-sub: alias.$alias-text-secondary;
$app-stepper-color-item-default: alias.$alias-surface-pending;
$app-stepper-color-item-active: alias.$alias-surface-brand;
$app-stepper-color-item-completed: global.$global-brand-300;
$app-stepper-color-surface-default: alias.$alias-surface-white;

$app-stepper-size-spacing-gap-horizontal: global.$global-size-150;
$app-stepper-size-boder-radius: global.$global-size-max;
$app-stepper-size-spacing-top: alias.$alias-spacing-2xsmall;
$app-stepper-size-spacing-bot: alias.$alias-spacing-xsmall;
$app-stepper-size-spacing-left: alias.$alias-spacing-small;
$app-stepper-size-spacing-right: alias.$alias-spacing-small;
$app-stepper-size-spacing-gap-vertical: alias.$alias-spacing-2xsmall;
$app-stepper-size-spacing-gap-none: alias.$alias-spacing-none;

// Web Stepper
$web-stepper-color-surface-default: global.$global-neutral-200;
$web-stepper-color-surface-in-progress: alias.$alias-surface-information;
$web-stepper-color-text-main: alias.$alias-text-primary;
$web-stepper-color-text-sub: alias.$alias-text-secondary;
$web-stepper-color-text-in-progress: alias.$alias-text-information;
$web-stepper-color-border-default: global.$global-neutral-200;
$web-stepper-color-border-in-progress: alias.$alias-text-information;
$web-stepper-color-icon-completed: alias.$alias-icon-success;
$web-stepper-color-icon-error: alias.$alias-icon-error;
$web-stepper-color-icon-pending: alias.$alias-icon-warning;

$web-stepper-size-icon: alias.$alias-icon-medium;
$web-stepper-size-gap: alias.$alias-spacing-2xsmall;
