$typeface-font-brand: 'inter';
$typeface-weight-regular: 400;
$typeface-weight-medium: 500;
$typeface-weight-semibold: 600;
$typeface-weight-bold: 700;
// typography with mobile 
$h1-bold-size-mb: 32px;
$h2-bold-size-mb: 26px;
$h3-bold-size-mb: 22px;
$h4-bold-size-mb: 20px;
$title-bold-size-mb: 18px;
$base-semibold-size-mb: 16px;
$h1-bold-line-height-mb: 40px;
$h2-bold-line-height-mb: 36px;
$h3-bold-line-height-mb: 32px;
$h4-bold-line-height-mb: 28px;
$title-bold-line-height-mb: 24px;
$base-semibold-line-height-mb: 24px;
$small-regular-line-height-mb: 20px;
$h3-medium-letter-spacing-mb: -0.88px;
$h1-bold-letter-spacing-mb: -0,64px;
$title-bold-letter-spacing-mb: -0.27px;
$small-medium-letter-spacing-mb: -0.28px;
$h2-bold-letter-spacing-mb: -0,52px;
$h3-bold-letter-spacing-mb: -0.66px;
$h4-bold-letter-spacing-mb: -0.3px;
$h1-medium-letter-spacing-mb: -1,28px;
$h2-medium-letter-spacing-mb: -1.04px;
$h4-semibold-letter-spacing-mb: -0.5px;
$h4-medium-letter-spacing-mb: -0.6px;
$base-semibold-letter-spacing-mb: -0,32px;
$base-semibold-size-mb: 16px;
$base-regular-letter-spacing-mb: -0,32px;
$small-regular-letter-spacing-mb: -0.28px;
$h1-bold-font-mb: $typeface-font-brand;
$h1-bold-weight-mb: $typeface-weight-bold;
$h1-medium-font-mb: $typeface-font-brand;
$h1-medium-weight-mb: $typeface-weight-medium;
$h1-medium-size-mb: 32px;
$h1-medium-line-height-mb: 40px;
$h2-bold-font-mb: $typeface-font-brand;
$h2-bold-weight-mb: $typeface-weight-bold;
$h2-medium-font-mb: $typeface-font-brand;
$h2-medium-weight-mb: $typeface-weight-medium;
$h2-medium-size-mb: 26px;
$h2-medium-line-height-mb: 36px;
$h3-bold-font-mb: $typeface-font-brand;
$h3-bold-weight-mb: $typeface-weight-bold;
$h3-medium-font-mb: $typeface-font-brand;
$h3-medium-weight-mb: $typeface-weight-medium;
$h3-medium-size-mb: 22px;
$h3-medium-line-height-mb: 32px;
$h4-bold-font-mb: $typeface-font-brand;
$h4-bold-weight-mb: $typeface-weight-bold;
$h4-semibold-font-mb: $typeface-font-brand;
$h4-semibold-weight-mb: $typeface-weight-semibold;
$h4-semibold-size-mb: 20px;
$h4-semibold-line-height-mb: 28px;
$h4-medium-font-mb: $typeface-font-brand;
$h4-medium-weight-mb: $typeface-weight-medium;
$h4-medium-size-mb: 20px;
$h4-medium-line-height-mb: 28px;
$title-bold-font-mb: $typeface-font-brand;
$title-bold-weight-mb: $typeface-weight-bold;
$title-medium-font-mb: $typeface-font-brand;
$title-medium-weight-mb: $typeface-weight-medium;
$title-medium-size-mb: 18px;
$title-medium-line-height-mb: 24px;
$title-medium-letter-spacing-mb: -0.27px;
$base-medium-font-mb: $typeface-font-brand;
$base-medium-weight-mb: $typeface-weight-medium;
$base-medium-size-mb: 16px;
$base-medium-line-height-mb: 24px;
$base-medium-letter-spacing-mb: -0,32px;
$base-semibold-font-mb: $typeface-font-brand;
$base-semibold-weight-mb: $typeface-weight-semibold;
$base-regular-font-mb: $typeface-font-brand;
$base-regular-weight-mb: $typeface-weight-regular;
$base-regular-size-mb: 16px;
$base-regular-line-height-mb: 24px;
$small-medium-font-mb: $typeface-font-brand;
$small-medium-weight-mb: $typeface-weight-medium;
$small-medium-size-mb: 14px;
$small-medium-line-height-mb: 20px;
$small-regular-font-mb: $typeface-font-brand;
$small-regular-weight-mb: $typeface-weight-regular;
$small-regular-size-mb: 14px;
$caption-regular-font-mb: $typeface-font-brand;
$caption-regular-weight-mb: $typeface-weight-regular;
$caption-regular-size-mb: 12px;
$caption-regular-line-height-mb: 16px;
$caption-regular-letter-spacing-mb: -0,36px;
$caption-medium-font-mb: $typeface-font-brand;
$caption-medium-weight-mb: $typeface-weight-medium;
$caption-medium-size-mb: 12px;
$caption-medium-line-height-mb: 16px;
$caption-medium-letter-spacing-mb: -0,36px;
$title-semibold-font-mb: $typeface-font-brand;
$title-semibold-weight-mb: $typeface-weight-semibold;
$title-semibold-size-mb: 18px;
$title-semibold-line-height-mb: 24px;
$title-semibold-letter-spacing-mb: -0.27px;
$h3-semibold-font-mb: $typeface-font-brand;
$h3-semibold-weight-mb: $typeface-weight-semibold;
$h3-semibold-size-mb: 22px;
$h3-semibold-line-height-mb: 32px;
$h3-semibold-letter-spacing-mb: -0.88px;
$h2-semibold-font-mb: $typeface-font-brand;
$h2-semibold-weight-mb: $typeface-weight-semibold;
$h2-semibold-size-mb: 26px;
$h2-semibold-line-height-mb: 36px;
$h2-semibold-letter-spacing-mb: -1.04px;
$small-semibold-font-mb: $typeface-font-brand;
$small-semibold-weight-mb: $typeface-weight-semibold;
$small-semibold-size-mb: 14px;
$small-semibold-line-height-mb: 20px;
$small-semibold-letter-spacing-mb: -0.28px;

// typography with desktop 
$h1-bold-size: 48px;
$h2-bold-size: 40px;
$h3-bold-size: 24px;
$h4-bold-size: 22px;
$title-bold-size: 20px;
$base-semibold-size: 17px;
$h1-bold-line-height: 56px;
$h2-bold-line-height: 48px;
$h3-bold-line-height: 36px;
$h4-bold-line-height: 32px;
$title-bold-line-height: 28px;
$base-semibold-line-height: 28px;
$small-regular-line-height: 24px;
$h3-medium-letter-spacing: -1.28px;
$h1-bold-letter-spacing: -0,96px;
$title-bold-letter-spacing: -0.27px;
$small-medium-letter-spacing: -0.28px;
$h2-bold-letter-spacing: -0.8px;
$h3-bold-letter-spacing: -0.84px;
$h4-bold-letter-spacing: -0.6px;
$h1-medium-letter-spacing: -1,92px;
$h2-medium-letter-spacing: -1.6px;
$h4-semibold-letter-spacing: -0.72px;
$h4-medium-letter-spacing: -0.96px;
$base-semibold-letter-spacing: -0,32px;
$base-semibold-size: 17px;
$base-regular-letter-spacing: -0,32px;
$small-regular-letter-spacing: -0.28px;
$h1-bold-font: $typeface-font-brand;
$h1-bold-weight: $typeface-weight-bold;
$h1-medium-font: $typeface-font-brand;
$h1-medium-weight: $typeface-weight-medium;
$h1-medium-size: 48px;
$h1-medium-line-height: 56px;
$h2-bold-font: $typeface-font-brand;
$h2-bold-weight: $typeface-weight-bold;
$h2-medium-font: $typeface-font-brand;
$h2-medium-weight: $typeface-weight-medium;
$h2-medium-size: 40px;
$h2-medium-line-height: 48px;
$h3-bold-font: $typeface-font-brand;
$h3-bold-weight: $typeface-weight-bold;
$h3-medium-font: $typeface-font-brand;
$h3-medium-weight: $typeface-weight-medium;
$h3-medium-size: 24px;
$h3-medium-line-height: 36px;
$h4-bold-font: $typeface-font-brand;
$h4-bold-weight: $typeface-weight-bold;
$h4-semibold-font: $typeface-font-brand;
$h4-semibold-weight: $typeface-weight-semibold;
$h4-semibold-size: 22px;
$h4-semibold-line-height: 32px;
$h4-medium-font: $typeface-font-brand;
$h4-medium-weight: $typeface-weight-medium;
$h4-medium-size: 22px;
$h4-medium-line-height: 32px;
$title-bold-font: $typeface-font-brand;
$title-bold-weight: $typeface-weight-bold;
$title-medium-font: $typeface-font-brand;
$title-medium-weight: $typeface-weight-medium;
$title-medium-size: 20px;
$title-medium-line-height: 28px;
$title-medium-letter-spacing: -0.27px;
$base-medium-font: $typeface-font-brand;
$base-medium-weight: $typeface-weight-medium;
$base-medium-size: 17px;
$base-medium-line-height: 28px;
$base-medium-letter-spacing: -0,32px;
$base-semibold-font: $typeface-font-brand;
$base-semibold-weight: $typeface-weight-semibold;
$base-regular-font: $typeface-font-brand;
$base-regular-weight: $typeface-weight-regular;
$base-regular-size: 17px;
$base-regular-line-height: 28px;
$small-medium-font: $typeface-font-brand;
$small-medium-weight: $typeface-weight-medium;
$small-medium-size: 15px;
$small-medium-line-height: 24px;
$small-regular-font: $typeface-font-brand;
$small-regular-weight: $typeface-weight-regular;
$small-regular-size: 15px;
$caption-regular-font: $typeface-font-brand;
$caption-regular-weight: $typeface-weight-regular;
$caption-regular-size: 13px;
$caption-regular-line-height: 20px;
$caption-regular-letter-spacing: -0,36px;
$caption-medium-font: $typeface-font-brand;
$caption-medium-weight: $typeface-weight-medium;
$caption-medium-size: 13px;
$caption-medium-line-height: 20px;
$caption-medium-letter-spacing: -0,36px;
$title-semibold-font: $typeface-font-brand;
$title-semibold-weight: $typeface-weight-semibold;
$title-semibold-size: 20px;
$title-semibold-line-height: 28px;
$title-semibold-letter-spacing: -0.27px;
$h3-semibold-font: $typeface-font-brand;
$h3-semibold-weight: $typeface-weight-semibold;
$h3-semibold-size: 24px;
$h3-semibold-line-height: 36px;
$h3-semibold-letter-spacing: -1.28px;
$h2-semibold-font: $typeface-font-brand;
$h2-semibold-weight: $typeface-weight-semibold;
$h2-semibold-size: 40px;
$h2-semibold-line-height: 48px;
$h2-semibold-letter-spacing: -1.6px;
$small-semibold-font: $typeface-font-brand;
$small-semibold-weight: $typeface-weight-semibold;
$small-semibold-size: 15px;
$small-semibold-line-height: 24px;
$small-semibold-letter-spacing: -0.28px;
