@use "../1-variables" as vars;

.msb-selection {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &.selection-single {
    .ng-select {
      .ng-dropdown-panel{
        .ng-dropdown-panel-items {
          .ng-option {

            &.ng-option-selected {
              .option-selected {
                .icon {
                  font-size: 23px;
                  &:before {
                    color: vars.$alias-icon-brand;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.selection-multiple {
    .ng-select.ng-select-multiple {
      .ng-select-container {
        .ng-value-container {
          padding-block-start: 0;

          .ng-value {
            display: flex;
            align-items: center;
            gap: vars.$global-size-100;
            padding: vars.$global-size-100 vars.$global-size-200;
            border-style: solid;
            border-width: vars.$chip-size-small-boder-stroke;
            border-color: vars.$chip-color-boder-default;
            border-radius: vars.$chip-size-small-boder-radius;
            cursor: pointer;

            color: vars.$chip-color-text-default;
            background-color: vars.$global-neutral-white;

            font-size: vars.$caption-regular-size;
            font-weight: vars.$caption-regular-weight;
            line-height: vars.$caption-regular-line-height;
            letter-spacing: vars.$caption-regular-letter-spacing;
            white-space: nowrap;
            text-align: center;
            margin-bottom: 0;

            .ng-value-icon {
              padding-inline: 0;
              font-size: 12px;

              &:hover {
                background-color: unset;
              }
            }
            .close-button.right {
              border-inline-start: unset;
              border-radius: 50%;
              border: 1px solid vars.$global-neutral-300;
              width: vars.$global-size-400;
              height: vars.$global-size-400;
              display: flex;
              align-items: center;
              justify-content: center;

            }
          }
        }
      }
      .ng-dropdown-panel{
        .ng-dropdown-panel-items {
          .ng-option {
            .option-selection {
              .option-text-group {
                flex: 1;
              }
            }
            .option-selected {
              display: inline-block;
              padding: 0 12px 6px;
              align-self: center;
              .msb-checkbox {
                .bb-input-checkbox__input {
                  &:disabled {
                    cursor: pointer;
                  }

                  &:disabled + .bb-input-checkbox__content::before {
                    // border: 1.5px solid #C2C7D0;
                    background-color: vars.$global-neutral-white;
                  }

                  &:checked:disabled + .bb-input-checkbox__content::before {
                    background-color: vars.$global-brand-500;
                    border-color: vars.$global-brand-500;
                    cursor: pointer;
                  }

                  &:checked:disabled ~ .bb-input-checkbox__content-icon::after {
                    color: vars.$checkbox-color-icon-check;
                    cursor: pointer;
                  }

                  &:disabled + .bb-input-checkbox__content {
                    cursor: pointer;
                  }
                }
              }
            }

            &.ng-option-selected {
              .option-selected {


              }
            }
          }
        }
      }
    }
  }

  .ng-select {
    .ng-select-container {
      border: 1px solid vars.$field-color-boder-default;
      border-radius: vars.$field-size-boder-radius;
      padding-left: vars.$global-size-200;
      .ng-value-container {
        padding-inline-start: 0;

        .ng-placeholder {
          color: vars.$field-color-text-placeholder;
          font-size: vars.$base-medium-size-mb;
          line-height: vars.$base-medium-line-height-mb;
          letter-spacing: vars.$base-medium-letter-spacing;
          font-family: vars.$base-medium-font;
        }
      }

      &:hover {
        box-shadow: none;
      }
    }

    &.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
      border-color: vars.$field-color-boder-hover;
      box-shadow: unset;
    }

    .ng-dropdown-panel{
      box-shadow: 0px 1px 4px 0px #1D293926;
      border: none;
      border-radius: vars.$global-size-300;
      padding: vars.$global-size-200 0;
      .scroll-host {
        &::-webkit-scrollbar {
          width: vars.$global-size-200;
          height: vars.$global-size-200;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: vars.$global-neutral-100;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: vars.$global-neutral-200;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          opacity: 0.8;
        }

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
          border-radius: vars.$global-size-700;
        }
      }
      &.ng-select-bottom {
        margin-top: 4px;
      }

      &.ng-select-top {
        margin-bottom: 4px;
      }
      .ng-dropdown-panel-items {
        .ng-option {

          .option-selected {
            display: none;
          }
          &:last-child {
            padding-block-end: 0;
          }
          &:first-child {
            padding-block-start: 0;
          }
          .option-selection {
            display: flex;
            gap: 4px;
            .option-icon {
              width: vars.$global-size-800;
              height: vars.$global-size-800;
              font-size: vars.$global-size-800;
              align-self: center;
              margin-right: 12px;
            }
            .option-text-group {
              display: flex;
              flex-direction: column;
              gap: 4px;
              .option-label, .option-description {
                color: vars.$dataview-color-text-sub;
              }
              .option-label-account {
                display: flex;
                gap: 8px;
                align-items: center;
                color: vars.$dataview-color-text-sub;
                .seperator {
                  background-color: vars.$dataview-color-icon-default;
                  width: 4px;
                  height: 4px;
                  border-radius: 50%;
                  content: "";
                }
              }
            }
          }

          &.ng-option-selected {
            background-color: vars.$alias-surface-selection-item-selected;
            .option-selection {
              .option-text-group {
                flex: 1;
              }
              .option-selected {
                display: inline-block;
                padding: 0 12px 6px;
                align-self: center;
              }
            }
          }
        }
      }
    }

  }

  .hint-message {
    color: vars.$label-caption-color-text-sub;
  }
}
