// default breakpoints
$xs: "0";
$xxs: "360px";
$sm: "600px";
$md: "840px";
$lg: "1366px";
// $xl: "1200px";
// $xxl: "1400px";

@mixin min-xxs() {
  @media (min-width: $xxs) {
    @content;
  }
}

@mixin min-xs() {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin min-sm() {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin min-md() {
  @media (min-width: $md) {
    @content;
  }
}

@mixin min-lg() {
  @media (min-width: $lg) {
    @content;
  }
}

// @mixin min-xl() {
//   @media (min-width: $xl) {
//     @content;
//   }
// }

// @mixin min-xxl() {
//   @media (min-width: $xxl) {
//     @content;
//   }
// }

@mixin max-xs() {
  @media (max-width: $xs) {
    @content;
  }
}

@mixin max-xxs() {
  @media (max-width: $xxs) {
    @content;
  }
}

@mixin max-sm() {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin max-md() {
  @media (max-width: $md) {
    @content;
  }
}

@mixin max-lg() {
  @media (max-width: $lg) {
    @content;
  }
}

// @mixin max-xl() {
//   @media (max-width: $xl) {
//     @content;
//   }
// }

// @mixin max-xxl() {
//   @media (max-width: $xxl) {
//     @content;
//   }
// }
