@use '../1-variables' as vars;

$assets-path: '../../assets';

@font-face {
  font-weight: 300;
  font-family: "Inter";
  font-style: normal;
  src: url("#{$assets-path}/fonts/Inter/Inter-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: vars.$typeface-weight-regular;
  font-family: "Inter";
  font-style: normal;
  src: url("#{$assets-path}/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: vars.$typeface-weight-medium;
  font-family: "Inter";
  font-style: normal;
  src: url("#{$assets-path}/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: vars.$typeface-weight-semibold;
  font-family: "Inter";
  font-style: normal;
  src: url("#{$assets-path}/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: vars.$typeface-weight-bold;
  font-family: "Inter";
  font-style: normal;
  src: url("#{$assets-path}/fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'MSB-Outline';
  src: url('#{$assets-path}/fonts/MSB-Outline/MSB-Outline.eot?nrmgru');
  src: url('#{$assets-path}/fonts/MSB-Outline/MSB-Outline.eot?nrmgru#iefix') format('embedded-opentype'),
  url('#{$assets-path}/fonts/MSB-Outline/MSB-Outline.ttf?nrmgru') format('truetype'),
  url('#{$assets-path}/fonts/MSB-Outline/MSB-Outline.woff?nrmgru') format('woff'),
  url('#{$assets-path}/fonts/MSB-Outline/MSB-Outline.svg?nrmgru#MSB-Outline') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}




